# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Variáveis de ambiente
.env

# Arquivos enviados pelos usuários
uploads/*
!uploads/.gitkeep

# Banco local
*.db

# IDE
.vscode/

# Sistema operacional
Thumbs.db
desktop.ini